.preview-birthday-container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin: 50px;
    padding-left: 100px;
}

.preview-birthday-box {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column; /* Ensure vertical stacking of title and content */
    background-size: cover;
    background: white url("../../../resources/images/birthday_background.png") no-repeat center;
}

.preview-birthday-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px; /* Space between title and content */
    font-size: 3em;
}

.preview-birthday-content {
    display: flex;
    width: 100%;
    flex-direction: row; /* Arrange image and description side by side */
}

.preview-birthday-imagePerson {
    flex: 1; /* Image takes up half the space */
    border: white 2px solid;
    max-width: 30%;
    max-height: 100%;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
    margin-right: 10%; /* Space between image and description */   
}

.preview-birthday-desc {
    font-size: 1.5em;
    flex: 1; /* Description takes up the other half */
    word-break: keep-all;
    overflow: auto;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 10px;
}