* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.81), rgba(255, 255, 255, 0.81)), url("../../../resources/images/application_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.logo {
    width: 200px;
    height: auto;
    margin-bottom: 1rem;
}

.title {
    font-size: 2.5rem;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    margin: 0;
}

.main-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

/* Login Page */

.login-div {
    height: 100%;
    width: 15vw;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 40% 60%;
}

.login-form {
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 20% 20% 45% 20%;
}

.login-input {
    height: 35%;
    width: 100%;
    border-radius: 5px;
    border: lightgrey solid 1px;
    text-align: center;
    
}

.login-info {
    text-align: center;
}

.login-btn {
    width: 100%;
    padding: 3%;
    border-radius: 5px;
    border: none;
    background-color: #003087;
    color: white;
}

.login-btn:hover {
    background-color: #023fb2;
    cursor: pointer;
}

.login-trademark {
    font-size: small;
}

.thumbnail-video {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}